.displayMessages {
  overflow: auto;
  height: 100%;
}

.table {
  font-size: 1.3rem;
  visibility: hidden;
  border-collapse: collapse;
  // table-layout: fixed;
  max-width: 100%;

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  th {
    min-width: 12rem;
    padding: $base-padding;
    text-align: left;
    background-color: $primary;
    color: $white;
  }

  td {
    padding: $base-padding;
  }
}
