body {
  font-weight: 400;
  font-size: $base-font-size;
  line-height: 1.7;
}

p {
  font-size: $base-font-size;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.heading {
  font-weight: 700;
  margin-bottom: 3rem;
  letter-spacing: 0.5rem;

  &-primary {
    font-size: $font-size-xxl;
  }
  &-secondary {
    font-size: $font-size-xl;
  }
}

.heading-light {
  font-weight: 200;
  margin-bottom: 3rem;
  letter-spacing: 1rem;
}
