.footer {
  font-weight: 200;
  margin-top: 10rem;
  .container {
    padding: $base-padding * 4 $base-padding * 3 $base-padding;
  }
  &__logo {
    width: 15rem;
    font-size: $font-size-lg;
    font-weight: 700;
  }
  &__link {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  .map-item {
    font-size: $base-font-size;
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }
}

@each $key, $val in $colors {
  @if ($val != #f5f5f5 and $val != transparent) {
    .footer-#{$key} {
      @extend .footer;
      background-color: $val;
      color: #f5f5f5;
    }
  } @else {
    .footer-#{$key} {
      @extend .footer;
      background-color: $val;
      color: #808080;
    }
  }
}
