.btn {
  @include btn;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

@each $key, $val in $colors {
  @if ($val == #f5f5f5) {
    .btn-#{$key} {
      @include btn($val);
      color: #000;
      &:hover {
        background-color: lighten($val, 5);
        color: #000;
      }
    }
  } @else if($val == transparent) {
    .btn-#{$key} {
      @include btn($val);
      color: #f5f5f5;
      &:hover {
        background-color: lighten($val, 5);
        color: #f5f5f5;
      }
    }
  } @else {
    .btn-#{$key} {
      @include btn($val);
      color: #f5f5f5;
      &:hover {
        background-color: lighten($val, 5);
      }
    }
  }

  @if ($val != #f5f5f5 and $val != transparent) {
    .btn-outlined-#{$key} {
      @include btn(transparent);
      border: $base-border-thickness solid $val;
      color: $val;
      &:hover {
        background-color: $val;
        color: #f5f5f5;
      }
    }
  } @else {
    .btn-outlined-#{$key} {
      @include btn(transparent);
      border: $base-border-thickness solid $val;
      &:hover {
        background-color: $val;
        color: $primary;
      }
    }
  }
}
