.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__input {
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    width: 80%;
    border-radius: 3px;
    border-bottom: 3px solid transparent;
    padding: 1.5rem 2rem;
    color: inherit;
    resize: none;
    background-color: #f6f6f6;

    &:focus {
      outline: none;
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.12);
      border-bottom: 3px solid $success;
    }

    &:focus:invalid {
      border-bottom: 3px solid $error;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
