%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  @extend %flex-layout;
  box-shadow: $base-box-shadow;
  margin-bottom: 3rem;
  &__logo {
    width: 15rem;
    font-size: $font-size-lg;
    font-weight: 700;
    cursor: pointer;
  }
  &__links {
    display: inline-flex;
    gap: 1.6rem;
    margin-right: 2rem;
  }
  .container {
    @extend %flex-layout;
    padding: 2rem;
  }
  .nav-item {
    cursor: pointer;
  }
}

@each $key, $val in $colors {
  @if ($val != #f5f5f5 and $val != transparent) {
    .navbar-#{$key} {
      @extend .navbar;
      background-color: $val;
      color: #f5f5f5;
    }
  } @else {
    .navbar-#{$key} {
      @extend .navbar;
      background-color: $val;
      color: #808080;
    }
  }
}
