@use 'sass:math';

@mixin badge($bg-color: $info) {
  border-radius: math.div($base-border-radius, 4);
  background-color: $bg-color;
  padding: math.div($base-padding, 4) math.div($base-padding, 2);
  font-size: $font-size-sm;
  font-weight: normal;
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin posCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: math.div($base-border-radius, 2);
  background-color: $bg-color;
}
